/**
* Master CSS
**/

/** Import **/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');

h1, h2, h3 ,h4, h5 {
    font-family: 'Oswald', sans-serif !important;
}

/** Bootstrap Override **/
.btn-primary {
    background-color: #FF8201 !important;
    border-color: #FF8201 !important;
}

.col-4{
    padding: 0 !important;
}

/** MAIN CONTAINER **/

.main-container {
    margin-top: 40px;
}

/** HEADER **/

#header{
    background-color: #041D42;
    color: white;
    height: auto;
}

.main-title-header {
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
    font-weight: 600 !important;
    font-size: 35px !important;
    text-transform: uppercase;
}

.utep-img{
    background-color: #FF8201;
    padding: 25px 35px;
}

/** LOGIN **/

.login-holder{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    border: 1px solid #cccccc;
}

.login-message{
    background-color: #041D42;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.login-info {
    padding-left: 15px;
    padding-right: 15px;
}

.login-text-header {
    font-family: 'Oswald', sans-serif !important;
}

/** NAV **/

.holder-nav{
    font-family: 'Open Sans', sans-serif;
    background-color: #343a40!important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #041E42;
    padding-left: 12px;
    padding-right: 0;
    font-size: 10pt;
}

/** PROGRAM **/

.program-title{
    text-decoration: underline;
    padding-bottom: 15px;
}

.program-info{
    padding-bottom: 25px;
}

/** FOOTER **/

#footer {
    background-color: #041D42;
    color: white;
    height: 150px;
    margin-top: 100px;
}

/** Tables **/

.button-wrapper{
    padding-bottom: 40px;
}

